body {
    background-color: #C2EBF9;
}

.header {
    width: 90%;
    height: 94px;
    margin: 15px auto;
    color: #EF6C23;
}

    .header__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 120px;
    }

    .menu__buttons {
        display: flex;
        width: 50%;
        height: 100%;
        margin: auto;
        font-size: 30px;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        width: 50%;
    }

    .logo__img {
        width: 86px;
        height: 86px;
        border-radius: 86px;
    }

    .logo__text {
        height: 100%;
        text-align: center;
        padding-top: 15px;
        font-size: 48px;
        padding-left: 36px;
        font-family: "AmaticSC-Regular";
    }

    .menu__list {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        font-family: "Pangolin-Regular";
    }

    .menu__btn {
        display: inline-flex;
        cursor: pointer;
    }

    .header a {
        text-decoration: none;
        color: #EF6C23 !important;
    }

.cover {
    width: 100%;
    height: 762px;
    background-image: url("images/cover.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "AmaticSC-Regular";
    src: url("fonts/AmaticSC-Regular.ttf");
}

@font-face {
    font-family: "AmaticSC-Bold";
    src: url("fonts/AmaticSC-Bold.ttf");
}

@font-face {
    font-family: "Pangolin-Regular";
    src: url("fonts/Pangolin-Regular.ttf");
}
