body {
    background-color: #D2F2FC;
}

.header {
    width: 90%;
    height: 94px;
    margin: 15px auto;
    color: #EF6C23;
}

    .header__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 120px;
    }

    .menu__buttons {
        display: flex;
        width: 50%;
        height: 100%;
        margin: auto;
        font-size: 30px;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        width: 50%;
    }

    .logo__img {
        width: 86px;
        height: 86px;
        border-radius: 86px;
    }

    .logo__text {
        height: 100%;
        text-align: center;
        padding-top: 15px;
        font-size: 48px;
        padding-left: 36px;
        font-family: "AmaticSC-Bold";
    }

    .menu__list {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        font-family: "Pangolin-Regular";
    }

    .menu__btn {
        display: inline-flex;
        cursor: pointer;
    }

    .header a {
        text-decoration: none;
        color: #EF6C23 !important;
    }

.cover {
    width: 100%;
    height: 762px;
    background-image: url("images/cover.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about {
    width: 100%;
}

    .about__title-wrapper {
        width: 100%;
        height: 200px;
    }

    .about__title {
        position: relative;
        width: 100%;
        text-align: center;
        top: 32.5px;
        font-size: 64px;
        font-family: "AmaticSC-Regular";
    }

    /* cloud-ellipses */

    .cloud__wrapper {
        width: 402px;
        height: 200px;
        margin: 50px auto;
        position: relative;
    }

    .cloud {
        width: 402px;
        height: 149px;
        background-color: white;
        position: absolute;
        z-index: -1;
        border-radius: 700px / 275px;
    }

    .cloud-mini {
        width: 100px; 
        height: 50px;
        background: white;
        border-radius: 100px/50px;
        position: absolute;
    }

    .type1 {
        right: 400px;
        top: 100px;
    }

    .type2 {
        right: 400px;    
    }

    .type3 {
        left: 400px;
    }

    .type4 {
        left: 400px;
        top: 100px;
    }

    /* /cloud-ellipses */

    .about__content-wrapper {
        width: 75%;
        display: block;
        height: auto;
        margin: auto;
    }

    .about__content {
        text-align: center;
        font-size: 48px;
        font-family: "Pangolin-Regular";
    }

.portfolio {
    width: 100%;
}

    .portfolio__title-wrapper {
        width: 100%;
        height: 200px;
    }

    .portfolio__title {
        position: relative;
        width: 100%;
        text-align: center;
        top: 32.5px;
        font-size: 64px;
        font-family: "AmaticSC-Regular";
    }

    .portfolio__content-wrapper {
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }

@font-face {
    font-family: "AmaticSC-Regular";
    src: url("fonts/AmaticSC-Regular.ttf");
}

@font-face {
    font-family: "AmaticSC-Bold";
    src: url("fonts/AmaticSC-Bold.ttf");
}

@font-face {
    font-family: "Pangolin-Regular";
    src: url("fonts/Pangolin-Regular.ttf");
}
